div.alert {
  float: right;
  position: absolute;
  z-index: 9999;
  margin: 10px 1% 0 66%;
  width: 33%;
}

.content-wrapper {
  margin-top: 10px;
}

form.new_menu, form.edit_menu {
  a.remove_fields {
    margin-top: 24px;
  }

  a.add_fields {
    margin: 0px 0 20px 15px;
  }
}
