.form-signin {
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius: 2px;
}

.main {
  padding: 38px;
}

.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid;
  a {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    i {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 38px 38px 0px 38px;
}

.form-signin {
  .form-signin-heading {
    margin-bottom: 10px;
  }
  .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      z-index: 2;
    }
  }
}

.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px;
  .left-section a {
    font-weight: bold;
    color: #8a8a8a;
    line-height: 19px;
  }
}

.mg-btm {
  margin-bottom: 20px;
}
